

.backgroundImage{
    background: url("../vintage-image.jpg") no-repeat;
  height: 80vh;
  background-size: 100% 100%;
  background-position: center center
  /* background-image: url('cars-for-sale.jpg') */

}

img{
  max-width: 95%;
}
body{
    background: whitesmoke;
}

.whyteTestimonies{
  background: #fff;
}